<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#6F2232;">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/logo.png" width="50" height="30" class="d-inline-block align-top" alt="">
      Cinco Event Management
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link"  href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a  class="nav-link" *ngIf="isLoggedIn" href="/events">Events<span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a class="nav-link" *ngIf="isLoggedIn" href="/saved-events"> MyEvents <span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a class="nav-link" *ngIf="isLoggedIn" href="/logout"> Logout </a>
        </li>
        <li>
          <a class="nav-link" *ngIf="!isLoggedIn" href="/login"> Login </a>
        </li>
        <li>
          <a class="nav-link" *ngIf="!isLoggedIn" href="/register"> Register </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Breadcrumb Navigation for Navigation -->
<div class="breadcrumb zero-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <ul class="breadcrumb-custom">
          <li class="breadcrumb-item active" aria-current="page"><a href="/" class="breadcrumb-text">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="/contact" class="breadcrumb-text">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
</div>

