<div class="container">
  <h1>All Events</h1>
  <ng-container *ngFor = "let category of allConnections | keyvalue">
    <h4 class="disply-6" > {{ category.key }} </h4>
    <div class="row">
      <div class="col-sm-4" *ngFor = "let event of category.value">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ event._Name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">CreatedBy | {{ event._CreatedBy }}</h6>
            <p class="card-text">{{ event._Topic }}</p>
            <a href="#" class="card-link">{{ event._DateTime | date}}</a>
            <a href="/event-registration/{{ event._ConId }}"  *ngIf="event._DateTime > currentDate" class="card-link badge badge-custom">Register Now</a>
            <a href="/event-registration/{{ event._ConId }}"  *ngIf="event._DateTime < currentDate" class="card-link badge badge-danger">Closed</a>
          </div>
        </div>
        <br>
      </div>
      <br>


    </div>


  </ng-container>
</div>

