<div class="container">
  <div>

  <a  class="addEvent" href="/new-event">Add Event</a>
  </div>
	<div class="Error">
			<span *ngIf="feedback" class="alert alert-info"> {{ feedback }} </span>
	</div>
	<br>
  <h1 class="display-8" *ngIf="(UserConnections.length > 0)">My Events</h1>

  <ng-container *ngIf="(UserConnections.length > 0)">
    <ng-container>
       <div class="row">
         <div class="col-sm-4" *ngFor = "let registeredEvent of UserConnections">
          <div class="card" style="width: 18rem;">
            <div class="image-container">
              <img class="card-img-top" *ngIf="registeredEvent.ConnectionObject.Category == 'Cinema'" src="/assets/images/cinema.jpg" alt="Card image cap">
               <img class="card-img-top" *ngIf="registeredEvent.ConnectionObject.Category == 'Street Dance'" src="/assets/images/street-dance.jpg" alt="Card image cap">
              <img class="card-img-top" *ngIf="registeredEvent.ConnectionObject.Category == 'Ted Talk'" src="/assets/images/talk1.jpg" alt="Card image cap">
              <img class="card-img-top"*ngIf="registeredEvent.ConnectionObject.Category == 'Rock Concerts'" src="/assets/images/concert.jpg" alt="Card image cap">
              <div class="bottom-right">{{ registeredEvent.ConnectionObject.Category }}</div>
            </div>


            <div class="card-body">
              <h5 class="card-title">{{ registeredEvent.ConnectionObject.Name }}</h5>
              <i class="fa fa-check" *ngIf= "registeredEvent.RSVP == 'Yes'"  style="color:green; float:right"></i>
              <i class="fa fa-times" *ngIf= "registeredEvent.RSVP == 'No'" style="color:red; float:right"></i>
              <i class="fa fa-circle" *ngIf= "registeredEvent.RSVP == 'Maybe'" style="color:orange; float:right"></i>
              <p class="card-text"> {{ registeredEvent.ConnectionObject.CreatedBy }}</p>
              <br>
              <form style="max-width: 60px; display: contents;" [formGroup]="updateConnectionForm" (ngSubmit)="onSubmitUpdate(registeredEvent.ConnectionObject.ConId)">
                <button style="margin-right: 10px;" type="submit" class="btn btn-sm btn-light" [disabled]="!updateConnectionForm.valid">
                  <i class="fa fa-edit" style="color: #C3073F;"></i>
                </button>
              </form>
              <form style="max-width: 60px; display: contents" [formGroup]="deleteConnectionForm" (ngSubmit)="onSubmitDelete(registeredEvent._id)">
                <button style="margin-right: 10px;" type="submit" class="btn btn-sm btn-light" [disabled]="!deleteConnectionForm.valid">
                  <i class="fa fa-trash" style="color: #C3073F;"></i>
                </button>

              </form>

            </div>
          </div>
         </div>
       </div>

    </ng-container>
  </ng-container>

  <ng-container *ngIf="!(UserConnections.length > 0)">

			<h1 class="display-8">
				Please register for some events
      </h1>

    </ng-container>

  <div class="push"></div>
  <div class="push"></div>
</div>
