<div class="container" *ngIf="ConnectionObject">

  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <img src="/assets/images/user.jpg" width="80" height="100" class="d-inline-block align-top" alt="">
      </div>
      <div class="col">
        <p class="display-10">
          Host: <strong> {{ ConnectionObject._CreatedBy }} </strong>
          <br>
          Date & Time: <strong> {{ ConnectionObject._DateTime |  date:'medium' }} </strong>
          <br>
          Location: <strong>{{ ConnectionObject._Location }}</strong>
        <p>
      </div>

    </div>
  </div>

  <h1 class="display-8" style="text-align: center;">{{ ConnectionObject._Name }} | {{ ConnectionObject._Category }}</h1>

  <div class="text-justify">
    <h5 class="display-9">Topic:  {{ ConnectionObject._Topic }} </h5>
  </div>
  <div class="text-justify">
    <h5 class="display-9">Details: {{ ConnectionObject._Details }}</h5>
  </div>
  <br>
  <p>
    Are you interested?
  </p>
  <div class="row" style="float: center;">
    <div class="col-md-auto">
      <form style="max-width: fit-content;" [formGroup]="ConnectionForm" (ngSubmit)="onSubmit(ConnectionObject._ConId, 'Yes')">
        <input class="btn btn-success mb-2" type="submit" value="Register">
      </form>
    </div>
    <div class="col-md-auto">
      <form style="max-width: fit-content;" [formGroup]="ConnectionForm" (ngSubmit)="onSubmit(ConnectionObject._ConId, 'No')">
        <input class="btn btn-danger mb-2" type="submit" value="Nah!">
      </form>
    </div>
    <div class="col-md-auto">
      <form style="max-width: fit-content;" [formGroup]="ConnectionForm" (ngSubmit)="onSubmit(ConnectionObject._ConId, 'Maybe')">
        <input class="btn btn-warning mb-2" type="submit" value="Maybe">
      </form>
    </div>
  </div>

</div>
